@font-face {
  font-family: "iconfont"; /* Project id 4843143 */
  src: url('iconfont.woff2?t=1740839682294') format('woff2'),
       url('iconfont.woff?t=1740839682294') format('woff'),
       url('iconfont.ttf?t=1740839682294') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-bianji:before {
  content: "\e607";
}

.icon-shoucang:before {
  content: "\e602";
}

